Repository GabrieleDiCorato/rohan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

ruff:
  name: ruff lint
  entry: uv run ruff check --fix --force-exclude
  language: system
  require_serial: true

ruff-format:
  name: ruff format
  entry: uv run ruff format --force-exclude
  language: system
  require_serial: true

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

Added test_ui_metrics.py for pure financial computations
  tests/test_ui_metrics.py
Due: ruff, ruff-format, pyright

Created pipeline validation notebook
  notebooks/pipeline_validation.ipynb
Due: ruff, ruff-format

Added chart smoke tests (28 tests across 7 categories)
  tests/test_ui_charts.py
Due: ruff, ruff-format, pyright

Added overlays field to SimulationSettings and wired into config_builder
  src/rohan/config/simulation_settings.py
  src/rohan/simulation/abides_impl/config_builder.py
Due: ruff, ruff-format, pyright

Improved planner: distinct templates and single-pass response_format
  src/rohan/llm/planner.py
Due: ruff, ruff-format, pyright

Added override allowlist and marked build_scenario as exploratory
  src/rohan/llm/scenario_tools.py
Due: ruff, ruff-format, pyright

Added overlay and allowlist tests
  tests/test_planner.py
  tests/test_scenario_tools.py
Due: ruff, ruff-format, pyright

Added Pandera schemas for UI metrics layer and auto-validation on SimulationOutput
  src/rohan/simulation/data/normalization.py
  src/rohan/simulation/models/__init__.py
  src/rohan/simulation/models/schemas.py
  src/rohan/simulation/models/simulation_output.py
  src/rohan/ui/metrics.py
Due: ruff, ruff-format, pyright

Added tests for new Pandera schemas
  tests/test_schemas.py
Due: ruff, ruff-format, pyright

Added Pandera schemas for UI metrics layer and tightened validation
  tests/test_data_pipeline.py
Due: ruff, ruff-format, pyright

Reviewed and improved project documentation
  .agents/workflows/execute_phase.md
  CHANGELOG.md
  README.md
  docs/abides/ABIDES_REFERENCE.md
  docs/abides/HASUFEL_CONFIG_SYSTEM.md
  docs/abides/HASUFEL_CUSTOM_AGENT_GUIDE.md
  docs/abides/HASUFEL_DATA_EXTRACTION.md
  docs/abides/HASUFEL_LLM_GOTCHAS.md
  docs/abides/HASUFEL_METRICS_API.md
  docs/abides/HASUFEL_PARALLEL_SIMULATION.md
  docs/abides/HASUFEL_README.md
  docs/abides/README.md
  docs/archive/rohan_project_proposal.md
  docs/functional/metrics_definition.md
  docs/hasufel-feature-request-rich-metrics.md
  docs/technical/technical_architecture.md
  pyproject.toml
  src/rohan/ui/README.md
Due: none

Updated framework.drawio, created agentic_framework.drawio
  docs/agentic_framework.drawio
  docs/framework.drawio
Due: none

Created presentation-optimized architecture diagrams
  docs/agentic_framework_presentation.drawio
  docs/framework_presentation.drawio
Due: none

Updated documents for presentation
  .github/agents/architect.agent.md
  docs/presentation_marp.md
  docs/presentation_outline.md
  docs/presentation_outline_compact.md
  docs/presentation_prompt.md
  docs/technical/cost_benefit_analysis.md
  docs/technical/target_architecture.md
Due: none

Path conditions:
  ruff: any of: \.py$, \.ipynb$
  ruff-format: any of: \.py$, \.ipynb$
  pyright: any of: \.py$
