Repository GabrieleDiCorato/rohan: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.9.1
    hooks:
      - id: nbstripout
        name: Strip notebook output and metadata

  - repo: local
    hooks:
      - id: ruff
        name: ruff lint
        entry: uv run ruff check --fix --force-exclude
        language: system
        types_or: [python, jupyter]
        require_serial: true
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, jupyter]
        require_serial: true

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: mixed-line-ending

Minor refactoring
  docs/code_review_todo.md
  docs/implementation_plan.md
  src/rohan/config/secrets_settings.py
  src/rohan/llm/graph.py
  src/rohan/llm/nodes.py
  src/rohan/simulation/strategy_validator.py
  tests/test_llm_nodes.py
  tests/test_refinement_repository.py
Due: ruff, ruff-format, pyright

Added market microstructure indicators to ScenarioResult
  src/rohan/framework/analysis_service.py
  src/rohan/framework/database/models.py
  src/rohan/framework/iteration_pipeline.py
  src/rohan/framework/prompts.py
  src/rohan/framework/repository.py
  src/rohan/llm/models.py
  src/rohan/llm/nodes.py
  src/rohan/llm/prompts.py
  src/rohan/llm/scoring.py
  src/rohan/llm/state.py
  src/rohan/simulation/abides_impl/abides_output.py
  src/rohan/simulation/models/simulation_metrics.py
  src/rohan/simulation/utils.py
  src/rohan/ui/0_Terminal.py
  src/rohan/ui/pages/1_Refinement_Lab.py
  src/rohan/ui/utils/metric_display.py
  src/rohan/utils/formatting.py
  tests/test_abides_output.py
  tests/test_compute_metrics_smoke.py
  tests/test_llm_settings.py
  tests/test_repository.py
Due: ruff, ruff-format, pyright

Includes full parent state in Send for process_scenario_node
  src/rohan/llm/graph.py
  src/rohan/ui/pages/1_Refinement_Lab.py
Due: ruff, ruff-format, pyright

Add baseline comparison utilities and tests for Terminal UI
  src/rohan/ui/0_Terminal.py
  src/rohan/ui/utils/baseline_comparison.py
  tests/test_ui_baseline_comparison.py
Due: ruff, ruff-format, pyright

Updated ABIDES to version v1.2.7-rohan
  pyproject.toml
  uv.lock
Due: none

Added documentation from ABIDES
  docs/abides_reference_documentation/ABIDES_CUSTOM_AGENT_IMPLEMENTATION_GUIDE.md
  docs/abides_reference_documentation/ABIDES_DATA_EXTRACTION.md
  docs/abides_reference_documentation/ABIDES_LLM_INTEGRATION_GOTCHAS.md
  docs/abides_reference_documentation/ABIDES_REFERENCE.md
  docs/abides_reference_documentation/PARALLEL_SIMULATION_GUIDE.md
  docs/development/ABIDES_CUSTOM_AGENT_IMPLEMENTATION_GUIDE.md
  docs/development/abides_api_reference.md
Due: none

Major documentation update
  README.md
  docs/archive/rohan_project_proposal.md
  docs/code_review_todo.md
  docs/implementation_plan.md
  docs/llm/ABIDES_CUSTOM_AGENT_IMPLEMENTATION_GUIDE.md
  docs/llm/ABIDES_LLM_INTEGRATION_GOTCHAS.md
  docs/llm/ABIDES_REFERENCE.md
  docs/technical/ABIDES_DATA_EXTRACTION.md
  docs/technical/PARALLEL_SIMULATION_GUIDE.md
  docs/technical/adversarial_scenario_system.md
  docs/technical/technical_architecture.md
Due: none

Added scenarios customizability plan
  .agents/workflows/execute_phase.md
  docs/technical/scenario_customizability_plan.md
Due: none

Added historical data pipeline and oracle integration
  .agent/workflows/execute_phase.md
  src/rohan/config/__init__.py
  src/rohan/config/agent_settings.py
  src/rohan/simulation/abides_impl/abides_config_mapper.py
  src/rohan/simulation/data/__init__.py
  src/rohan/simulation/data/csv_provider.py
  src/rohan/simulation/data/generator.py
  src/rohan/simulation/data/models.py
  src/rohan/simulation/data/normalization.py
  src/rohan/ui/0_Terminal.py
  tests/test_abides_config_mapper.py
  tests/test_data_pipeline.py
  tests/test_historical_integration.py
Due: ruff, ruff-format, pyright

Added typed historical provider pipeline and strict normalization
  .agent/workflows/execute_phase.md
  docs/technical/archive/phase1_historical_data_hardening_design.md
  docs/technical/data_pipeline_reference.md
  src/rohan/config/__init__.py
  src/rohan/config/agent_settings.py
  src/rohan/simulation/abides_impl/abides_config_mapper.py
  src/rohan/simulation/data/__init__.py
  src/rohan/simulation/data/api_provider.py
  src/rohan/simulation/data/csv_provider.py
  src/rohan/simulation/data/database_provider.py
  src/rohan/simulation/data/models.py
  src/rohan/simulation/data/normalization.py
  src/rohan/simulation/data/provider_protocol.py
  src/rohan/ui/0_Terminal.py
  tests/test_abides_config_mapper.py
  tests/test_data_pipeline.py
  tests/test_historical_integration.py
Due: ruff, ruff-format, pyright

Released version v0.2.2
  pyproject.toml
Due: none

Improved historical data simulations
  .agents/workflows/execute_phase.md
  .gitignore
  docs/technical/scenario_customizability_plan.md
  notebooks/generate_historical_data.ipynb
  pyproject.toml
  src/rohan/simulation/data/generator.py
  uv.lock
Due: ruff, ruff-format, pyright

Enhanced historical data CSV loading
  notebooks/generate_historical_data.ipynb
  src/rohan/simulation/abides_impl/abides_config_mapper.py
  src/rohan/simulation/data/__init__.py
  src/rohan/simulation/data/api_provider.py
  src/rohan/simulation/data/csv_provider.py
  src/rohan/simulation/data/database_provider.py
  src/rohan/simulation/data/provider_protocol.py
  src/rohan/ui/0_Terminal.py
Due: ruff, ruff-format, pyright

Added writer reliability tuning and enhanced structured output diagnostics
  README.md
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/config/llm_settings.py
  src/rohan/llm/factory.py
  src/rohan/llm/nodes.py
Due: ruff, ruff-format, pyright

Phase 2: harden explainer recursion and fallback tiers
  README.md
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/config/llm_settings.py
  src/rohan/llm/nodes.py
  tests/test_llm_nodes.py
  tests/test_llm_settings.py
Due: ruff, ruff-format, pyright

Phase 3: add explicit terminal reasons and retry semantics
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/llm/graph.py
  src/rohan/llm/nodes.py
  src/rohan/llm/state.py
  tests/test_llm_graph.py
  tests/test_llm_nodes.py
Due: ruff, ruff-format, pyright

Phase 4: add deterministic baseline simulation cache
  README.md
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/config/simulation_settings.py
  src/rohan/simulation/simulation_service.py
  tests/test_simulation_service_cache.py
Due: ruff, ruff-format, pyright

Phase 5: add structured telemetry for refinement loop
  README.md
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/llm/nodes.py
  src/rohan/llm/telemetry.py
  src/rohan/simulation/simulation_service.py
  tests/test_llm_telemetry.py
Due: ruff, ruff-format, pyright

phase 6: add rollout feature flags and gated behavior
  README.md
  docs/technical/llm_refinement_resilience_plan.md
  src/rohan/config/__init__.py
  src/rohan/config/feature_flags.py
  src/rohan/llm/graph.py
  src/rohan/llm/nodes.py
  src/rohan/llm/state.py
  src/rohan/simulation/simulation_service.py
  tests/test_feature_flags.py
  tests/test_llm_graph.py
  tests/test_simulation_service_cache.py
Due: ruff, ruff-format, pyright

refactor refinement flags and telemetry envelope
  README.md
  docs/technical/llm_refinement_observability.md
  src/rohan/config/__init__.py
  src/rohan/config/feature_flags.py
  src/rohan/llm/graph.py
  src/rohan/llm/nodes.py
  src/rohan/llm/state.py
  src/rohan/llm/telemetry.py
  src/rohan/simulation/simulation_service.py
  tests/test_feature_flags.py
  tests/test_llm_graph.py
  tests/test_llm_nodes.py
  tests/test_llm_telemetry.py
Due: ruff, ruff-format, pyright

refactor telemetry context and safe metric emission
  docs/technical/llm_refinement_observability.md
  src/rohan/llm/nodes.py
  src/rohan/llm/telemetry.py
  src/rohan/simulation/simulation_service.py
  tests/test_llm_telemetry.py
Due: ruff, ruff-format, pyright

Fixed pre-existing lint and type-check errors
  pyproject.toml
  src/rohan/config/agent_settings.py
  src/rohan/config/latency_settings.py
  src/rohan/config/simulation_settings.py
  src/rohan/framework/analysis_service.py
  src/rohan/framework/database/models.py
  src/rohan/simulation/abides_impl/abides_output.py
  src/rohan/simulation/data/models.py
  src/rohan/simulation/models/strategy_api.py
Due: ruff, ruff-format, pyright

Replaced AbidesConfigMapper with hasufel SimulationBuilder pipeline
  src/rohan/__init__.py
  src/rohan/simulation/abides_impl/__init__.py
  src/rohan/simulation/abides_impl/abides_config_mapper.py
  src/rohan/simulation/abides_impl/config_builder.py
  src/rohan/simulation/abides_impl/random_state_handler.py
  src/rohan/simulation/abides_impl/simulation_runner_abides.py
  src/rohan/simulation/data/generator.py
Due: ruff, ruff-format, pyright

Rewrote and updated tests for hasufel migration
  tests/test_abides_config_mapper.py
  tests/test_analysis.py
  tests/test_historical_integration.py
  tests/test_integration.py
  tests/test_random_state_handler.py
  tests/test_rich_analysis.py
  tests/test_strategic_agent.py
Due: ruff, ruff-format, pyright

Reorganized ABIDES documentation into docs/abides/
  docs/abides/ABIDES_CONFIG_SYSTEM.md
  docs/abides/ABIDES_CUSTOM_AGENT_IMPLEMENTATION_GUIDE.md
  docs/abides/ABIDES_DATA_EXTRACTION.md
  docs/abides/ABIDES_LLM_INTEGRATION_GOTCHAS.md
  docs/abides/ABIDES_REFERENCE.md
  docs/abides/PARALLEL_SIMULATION_GUIDE.md
  docs/abides/README.md
  docs/llm/ABIDES_CUSTOM_AGENT_IMPLEMENTATION_GUIDE.md
  docs/technical/PARALLEL_SIMULATION_GUIDE.md
  docs/technical/adversarial_scenario_system.md
  docs/technical/archive/phase1_historical_data_hardening_design.md
  docs/technical/data_pipeline_reference.md
  docs/technical/llm_refinement_observability.md
  docs/technical/llm_refinement_resilience_plan.md
  docs/technical/scenario_customizability_plan.md
Due: none

Switched to abides-hasufel and bumped version to 0.3.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Fixed SparseMeanRevertingOracle call to pass random_state as positional argument
  src/rohan/simulation/data/generator.py
Due: ruff, ruff-format, pyright

Upgraded abides-hasufel to v2.5.2
  pyproject.toml
  uv.lock
Due: none

Adopted hasufel build_and_compile API and exposed scenario templates
  src/rohan/__init__.py
  src/rohan/simulation/abides_impl/__init__.py
  src/rohan/simulation/abides_impl/config_builder.py
  src/rohan/simulation/abides_impl/simulation_runner_abides.py
  tests/test_abides_config_mapper.py
Due: ruff, ruff-format, pyright

Updated abides-hasufel dependency to v2.5.4
  docs/abides/ABIDES_INTERFACE_REVIEW.md
  pyproject.toml
  uv.lock
Due: none

Added StrategySpec model and registered rohan_strategy agent type
  src/rohan/framework/iteration_pipeline.py
  src/rohan/llm/nodes.py
  src/rohan/simulation/__init__.py
  src/rohan/simulation/abides_impl/__init__.py
  src/rohan/simulation/abides_impl/config_builder.py
  src/rohan/simulation/abides_impl/simulation_runner_abides.py
  src/rohan/simulation/abides_impl/strategic_agent_config.py
  src/rohan/simulation/models/__init__.py
  src/rohan/simulation/models/strategy_spec.py
  src/rohan/simulation/simulation_service.py
  src/rohan/simulation/strategy_validator.py
  src/rohan/simulation/utils.py
Due: ruff, ruff-format, pyright

Added unit tests for StrategySpec and StrategicAgentConfig
  tests/test_strategic_agent_config.py
  tests/test_strategy_spec.py
Due: ruff, ruff-format, pyright

Updated ABIDES_INTERFACE_REVIEW.md and quickstart notebook for v2.5.4
  docs/abides/ABIDES_INTERFACE_REVIEW.md
  notebooks/quickstart.ipynb
Due: ruff, ruff-format

Removed build_simulation_config() wrapper and unit-conversion helpers
  src/rohan/__init__.py
  src/rohan/simulation/abides_impl/__init__.py
  src/rohan/simulation/abides_impl/config_builder.py
  tests/test_abides_config_mapper.py
Due: ruff, ruff-format, pyright

Consolidated MarketMetrics as alias for SimulationMetrics (R6)
  src/rohan/framework/iteration_pipeline.py
  src/rohan/llm/nodes.py
  src/rohan/simulation/models/simulation_metrics.py
  src/rohan/simulation/utils.py
Due: ruff, ruff-format, pyright

Added parallel run_batch() via hasufel run_batch (R5)
  src/rohan/simulation/abides_impl/__init__.py
  src/rohan/simulation/abides_impl/hasufel_output.py
  src/rohan/simulation/simulation_service.py
  tests/test_batch_simulation.py
Due: ruff, ruff-format, pyright

Added VWAP to AgentMetrics (§2.5)
  src/rohan/framework/analysis_service.py
  src/rohan/simulation/models/simulation_metrics.py
Due: ruff, ruff-format, pyright

Added agentic tools: scenario generation (R11), metric explanation (R12), config validation (§7.2)
  src/rohan/llm/scenario_tools.py
  tests/test_scenario_tools.py
Due: ruff, ruff-format, pyright

Updated ABIDES_INTERFACE_REVIEW.md with all completed recommendations
  docs/abides/ABIDES_INTERFACE_REVIEW.md
Due: none

Bump abides-hasufel version to 2.5.5 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none
